<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
	<div th:replace="layout/header :: headerFragment"></div>
	<div th:replace="layout/menu :: menuFragment"></div>
	
	<div id="content">
		<div class="container">
			<h2>Global Solution - 1 Semestre</h2>
			<h3>Grupo:</h3>
			<ul>
				<li>Dayana Silva Santana RM 96067</li>
				<li>Gabriel Penna de Lima RM 94841</li>
				<li>Vinicios Romano Araujo RM 93018</li>
				<li>Vinicius dos Santos Amaral RM 96108</li>
			</ul>
		</div>
	</div>	
	
	<div th:replace="layout/footer :: footerFragment"></div>	
</body>
</html>